body {
    margin: 0;
    padding: 0;
}

.navbar-brand img {
    height: 40px;
    width: 65px;
}

.nav-item {
    padding: 3px 3px;
}
.navbar-nav li a {
    font-weight: bold;
    font-size: 14px;
}

.about {
    padding-top: 45px;
}

.about h1, h3, p {
    text-align: center;
}

.about h3 {
    color: rgb(36, 177, 177);
}

.about .row .abt1 {
    background-color: mediumaquamarine;
    color: white;
}

.about .row .abt1 h4 {
    color: royalblue;
}

.about .row .abt2 {
    background-color: mediumpurple;
    color: white;
}

.about .row .abt3 {
    background-color: lightslategrey;
    color: white;
}

.about .row h4 {
    color: skyblue;
}

.about p {
    padding: 15px 40px 25px;
}

.about h1 {
    letter-spacing: 10px;
}

.abt_grid {
    padding: 35px;
    text-align: center;
    transition: 0.5s all;
}

.abt_grid:hover {
    box-shadow: 8px 8px 8px 8px rgba(100, 82, 82, 0.75);
}

.abt_grid i {
    font-size: 30px;
    color: rgb(252, 252, 252);
    transition: 0.5s all;
}

.abt_grid i:hover {
    color: rgb(142, 238, 255);
}

.abt_grid button {
    color: white;
    background-color: cadetblue;
    border-radius: 50px;
    transition: 0.5s all;
    padding: 6px;
    border-color: white;
}

.abt_grid button:hover, .abt_grid button:focus {
    background-color: rgb(255, 255, 255);
    color: black;
}

.healthcare {
    background-color: rgb(243, 230, 213);
    margin-top: 65px;
    padding-bottom: 55px;
}

.healthcare h1, h4, p {
    text-align: center;
}

.healthcare h1 {
    padding-top: 26px;
    letter-spacing: 12px;
    color: cadetblue;
    text-transform: uppercase;
}

.healthcare h4 {
    color: rgb(66, 94, 94);
    padding-top: 28px;
}

.healthcare p {
    color: rgb(7, 91, 112);
}

.hlt h3, p {
    text-align: center;
}

.hlt h4 {
    color: teal;
}

.hlt p {
    color: rgb(133, 124, 5);
}

.hlt {
    text-align: center;
}

/* Float four columns side by side */
.column {
    width: 25%;
    padding: 20px 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 20px;
    text-align: center;
    width: 250px;
    height: 250px;
}

.services {
    margin-top: 40px;
    padding-bottom: 40px;
}

.services h1 {
    text-transform: uppercase;
    color: #a50e55;
    letter-spacing: 12px;
    text-align: center;
    padding-bottom: 20px 0px 20px;
    padding-top: 40px;
}

.services h4 {
    color: #ff4fa1;
    margin-bottom: 20px;
}

.services p {
    color: #fff;
    padding: 10px 137px 4px;
}

.services_grid {
    background-color: rgb(174, 193, 211);
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.services_grid1 {
    padding: 20px 15px;
    width: 100%;
    text-align: center;
}

.services_grid1 i {
    font-size: 26px;
    color: #fff;
    text-align: center;
    line-height: 63px;
    height: 64px;
    width: 64px;
    border-radius: 164px;
    background-color: #ff4fa1;
}

.services_grid2 {
    padding: 20px 15px;
}

.services_grid2 p {
   color: rgb(88, 85, 85);
   padding: 0px;
   margin-bottom: auto;
} 

.services_grid2 i {
   color: turquoise;
   margin-right: 14px;
   font-size: 25px;
}

.services_grid_right {
   border-right: #ff4fa1 2px solid;
   text-align: center;
}

.services h5 {
    color: rgb(68, 63, 63);
}

.services button {
    border-radius: 70px;
    background-color: rgb(245, 245, 245);
    color: rgb(70, 68, 68);
    transition: 0.8s all;
}

.services button:hover {
    color: white;
    background-color: rgb(77, 72, 72);
}

.team {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(192, 208, 238);
}

.team h1, h4{
    text-align: center;
    padding: 20px;
}

.team h1 {
    color: teal;
    letter-spacing: 12px;
    text-transform: uppercase;
}

.team h4 {
    color: chocolate;
    padding: 30px;
}

.team_img {
    width: 100%;
    position: relative;
    display: block;
    overflow: hidden;
    transition: 0.5s all;
}

.team_img img {
    width: 100%;
    height: 180pxpx;
}

.team_img:hover .team_social {
    transform: translateY(0) scale(1);
    bottom: 78px;
}

.team_social {
    background-color: rgba(1, 4, 6, 0.45);
    position: absolute;
    bottom: 0px;
    left: 15px;
    padding: 15px 20px;
    right: 15px;
    text-align: center;
    z-index: 99;
    transition: 0.5s all;
    transform: translateY(150%) scale(1.5);
}

.team_social ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.team_social ul li {
    display: inline-block;
}

.team_social ul li a {
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    color: #57c7ff;
    display: inline-block;
    margin: 0;
    height: 28px;
    text-align: center;
    line-height: 30px;
    width: 20px;
    transition: 0.5s all;
}

.team_social ul li a:hover {
    transform: scale(1.2);
}

.team_title {
    padding: 5px 5px 0px 5px;
    border: ipx solid rgb(14, 165, 185);
    text-align: center;
    background-color: rgb(207, 241, 240);
}

.contact {
    background: url("images/images\ \(21\).jpeg") 0px 0px fixed;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
}

.contact h1 {
    text-align: center;
    letter-spacing: 12px;
    text-transform: uppercase;
    color: darkolivegreen;
    padding: 20px;
}

.contact .contact_2 {
    padding: 30px;
}

.contact .cont {
    letter-spacing: 3px;
    text-transform: capitalize;
    color: rgb(0, 170, 88);
}

.cont_1 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.cont_1 input[type=text], input[type=phone], input[type=email] {
    width: 80%;
    color: rgb(85, 70, 70);
    background: none;
    outline: none;
    font-size: 1em;
    padding: 0.8em 1em;
    margin-bottom: 2em;
    border: none;
    border-bottom: 2px solid rgb(61, 57, 57);
    transition: 0.5s ease-in-out all;
    display: inline-block;
}

textarea {
    resize: none;
    width: 100%;
    color: rgb(85, 76, 76);
    background: none;
    outline: none;
    font-size: 1em;
    padding: 0.8em 1em;
    margin-bottom: 2em;
    border: none;
    border-bottom: 2px solid rgb(36, 34, 34);
    transition: 0.5s ease-in-out all;
    display: inline-block;
}

.cont_1 input[type=submit] {
    outline: none;
    color: rgb(255, 255, 255);
    padding: 0.7em 1em;
    font-size: 14px;
    margin: 0.8em 0 0 0;
    border: 1px solid #fff;
    background: cadetblue;    
    transition: 0.5s all;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.cont_1 input[type=submit]:hover {
    background: rgb(11, 87, 90);
    color: rgb(255, 255, 255); 
    letter-spacing: 3px;
}

.cont_1 input[type=text]:hover, input[type=phone]:hover, input[type=email]:hover, input[type=text]:focus, input[type=phone]:focus, input[type=email]:focus, textarea:hover, textarea:focus {
    border:  rgb(0, 0, 0);
}

footer {
    background-color: rgb(236, 223, 223);
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: -30px;
}

footer h5 {
    text-align: center;
    color: rgb(48, 48, 48);
    padding: 8px 6px;
    letter-spacing: 4px;
    text-transform: capitalize;
}

footer .sub {
    border-right: 2px solid teal;
}

footer .sub p {
    text-align: left;
    letter-spacing: 3px;
    text-transform: capitalize;
    color: rgb(105, 34, 8);
}

footer .sub input {
    width: 84%;
    display: inline-block;
    background-color: #fff;
    border: 1px solid rgb(206, 206, 206);
    outline: none;
    padding: 0.5em;
    font-size: 13px;
    color: #999999;
}

footer .sub .btn_1 {
    color: rgb(88, 199, 199);
    font-size: 18px;
    border: 1px solid rgb(153, 153, 153);
    width: 14%;
    height: 32px;
    text-decoration: none;
    background-color: whitesmoke;
}

footer .follow {
    border-right: 2px solid teal;
}

footer .follow p {
    padding-top: 20px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: capitalize;
    color: rgb(71, 71, 71)
}

footer .follow .social {
    text-align: center;
}

footer .follow i {
    margin-top: 0.5em;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 37px;
    border: 1px solid gray;
    font-size: 16px;
    color: rgb(100, 65, 255);
    border-radius: 60px;
    background-color: transparent;
}

footer .follow i:hover {
    font-size: 18px;
    width: 43px;
    height: 43px;
}

footer .contact_1 p {
    color: rgb(4, 117, 117);
    padding-top: 20px;
    text-align: left;
}

footer .contact_1 i {
    text-align: left;
}

footer .contact_1 span {
    color: rgb(14, 165, 185);
}

footer .contact_1 span a {
    text-decoration: none;
    color: rgb(14, 165, 185);
}

footer .copyright {
    padding-top: 25px;
    font-size: 13px;
    padding-bottom: 15px;
}





/* Slideshow container */
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
    height: 600px;
  }

.myslides img {
    height: 590px;
}

/* Caption text */
.text {
    color: #023333;
    font-size: 60px;
    font-weight: bolder;
    padding: 8px 12px;
    position: absolute;
    bottom: 250px;
    width: 100%;
    text-align: center;
}

.txt {
    color: #023333;
    font-size: 60px;
    font-weight: bolder;
    padding: 8px 12px;
    position: absolute;
    bottom: 200px;
    width: 100%;
}

.txt p span {
    text-transform: uppercase;
    font-size: 65px;
    color: rgb(126, 21, 21);
    text-align: left;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 10s;
    animation-name: fade;
    animation-duration: 10s;
}

@-webkit-keyframes fade {
    from {opacity: .8} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .8} 
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.text {font-size: 11px}
}